@media only screen and (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media only screen and (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		max-width: none;
	}
}

body {
	margin: 0;
}
header {
	display: flex;
	justify-content: center;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.site-name {
	font-weight: 700;
	text-align: center;
	color: #545be8;
	padding-right: 115px;
}
header .container .logo {
	margin-right: 10px;
	min-width: 30px;
}
.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.nav li {
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	padding-right: 40px;
}
.nav li a {
	text-decoration: none;
	color: #101928;
}
#font-home {
	font-weight: 700;
}
.actions {
	padding-left: 35px;
	display: flex;
	gap: 15px;
}
button{
	display: block;
	cursor: pointer;
}
.actions button {
	height: 30px;
	width: 100px;
	
}
#log-in-btn {
	background: #545be8;
	border: solid #545be8;
	border-radius: 10px;
	color: #fff;
	line-height: 7px;
}
#sign-up-btn {
	background-color: #fff;
	border: 0.5px solid #545be8;
	border-radius: 10px;
	color: #545be8;
	line-height: 7px;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.section-info {
	padding-top: 70px;
	display: flex;
	flex-direction: row;
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: right;
	padding-right: 55%;
}
p {
	font-weight: 400;
	color: #545be8;
}
.section-info h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
}
.section-info h4 {
	font-style: normal;
	font-weight: 400;
	color: #969696;
}
.selected-color {
	color: #545be8;
}

section .btn-info {
	display: flex;
	flex-direction: row;
	padding-top: 7px;
}
.reg-btn-info {
	background: #545be8;
	color: white;
	border: 1px solid #545be8;
	border-radius: 10px;
	font-weight: 700;
	min-width: 90px;
	height: 25px;
}
.play-btn {
	padding-left: 15px;
	height: 33px;
	border: 1px solid #f5f5f5;
}
.play-btn-width {
	width: 85px;
}
