@media only screen and (max-width: 1200px) {
	.header {
		max-width: 100%;
	}
}
@media only screen and (max-width: 992px) {
	.header {
		max-width: 100%;
	}
	.row {
		flex-direction: column;
	}
	.logo {
		padding: 25px 0;
	}
	.contact {
		padding: 25px 0;
	}
	#emailAddress,
	.btn-talk,
	.content-inner-left-img {
		position: relative;
		top: 100px;
	}
	.content-bottom {
		margin-top: -60px;
	}
}
@media only screen and (max-width: 767px) {
	.header {
		max-width: none;
	}
}

* {
	box-sizing: border-box;
}
body {
	background: #1e1e1e;
	margin: 0;
	color: #ffffff;
}

.header {
	background-color: #111111;
	padding: 70px;
}
.logo {
	display: flex;
	align-items: center;
}
.logo-image {
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("/img/Vector-removebg-preview.png");
	margin-right: 12px;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav li + li {
	margin-left: 40px;
}
.nav a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.contact-btn {
	/* align-items: center; */
	padding: 13px 14px;
	background: #111111;
	color: #fff;
	border: 2px solid #ffffff;
	width: 172px;
	height: 47px;
	cursor: pointer;
}

.content-bottom {
	display: flex;
	align-items: center;
	height: calc(100vh - 126px);
	max-height: calc(100vh - 126px);
	background-image: url("/img/Group\ 10591.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 350px;
}

.content-inner-right {
	background-image: url("");
}
/* .content-inner-right img{
height: 400px;
} */
.title {
	font-size: 50px;
	font-weight: 700;
	line-height: 70px;
}
.subtitle {
	width: 450px;
}
#emailAddress {
	border-radius: 43px;
	opacity: 0.1;
	width: 400px;
	height: 60px;
	padding-left: 65px;
	margin-left: -50px;
}

.content-inner-group {
	display: flex;
	align-items: center;
}
.content-inner-left-img img {
	position: relative;
	width: 35px;
}
.btn-talk {
	position: relative;
	background: #e3b748;
	border-radius: 43px;
	border: none;
	right: 27%;
	width: 137px;
	height: 52px;
	cursor: pointer;
}
section {
	padding-top: 170px;
}
.section-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 150px;
}
.content-left {
	font-weight: 600;
	font-size: 44px;
}
.border-center {
	border: 1px solid #fff;
	border-top: none;
	border-bottom: none;
	border-right: none;
	height: 210px;
}
.content-right {
	width: 30%;
	font-weight: 600;
	font-size: 22px;
}
.content-right-text {
	font-weight: 500;
	font-size: 18px;
	opacity: 0.3;
}
